/*
 *      This file containing blue color theme
 */  

h1 {
	color: #85A5C5;
	background-color: #336699;
}
/*logout area*/
.swHeadingUser{
	color: #B5C8DB;
}

.swHeadingLogout a {
	color: #B5C8DB;
}

/*stage*/
.swMain{
	background-image: url(img/blue_theme/stage.png);
	background-repeat: no-repeat;
	color : Black;
}
div#swContent{
	background-image: url(img/blue_theme/contentbg.png);
}
.swMain #swHeader {
	background-image: url(img/blue_theme/contentheader.png);
}
.swMain #swFooter {
	background-image: url(img/blue_theme/contentfooter.png);
}



/*navigation*/
div#swTabs div.swTabsL{
	background-image : url(img/blue_theme/tab_left_border.png);
}

div#swTabs div.swTabsR{
	background-image : url(img/blue_theme/tab_right_border.png);
}

div#swTabs ul li#swActiveTab div.swTabsL{
	background-image : url(img/blue_theme/tab_left_border_active.png);
}

div#swTabs ul li#swActiveTab div.swTabsR{
	background-image : url(img/blue_theme/tab_right_border_active.png);
}

div#swTabs ul li a, div#swTabs ul li strong {
	color : Black;
}

div#swTabs ul li a{
	background-color: #517DA8;
	color: #FFFFFF;
}

div#swTabs ul li strong{
	background-color : #234568;
	color: #FFFFFF;
}

/*sub-navigation*/
div.subTabs{
	background: rgb(240,240,240);
	border-bottom: 1px dotted rgb(180,180,180);
	border-left: 1px dotted rgb(180,180,180);
}

div.subTabs ul li {
	border-right: 1px dotted rgb(180,180,180);
}

div.subTabs ul li:hover {
	background: rgb(230,230,230);
}

div.subTabs ul li#swActiveTab {
	background: rgb(230,230,230);
}

div.subTabs ul li a{
	color: rgb(51,51,51);
}

div.subTabs ul li strong{
	color: rgb(51,102,153);
}


/*contents table*/

table.swTable tr.separator td{
	background: rgb(233, 229, 214);
}

/*
 * Popup links - links used for display popup window by the Overlib library
 */

.swDomainEnabled,
.swUserEnabled,
.swUriEnabled{
	color: #000;
	background: none;
}
/*
 *	title
 */
.swLPTitle h1 {
	color: #336699;
}


.swTitle,
.swForgotPassw h2 {
	color: #336699;
}

/*login*/
.swLoginForm label {
	color: #FFFFFF;
}
.swLoginForm table {
	background-color: #336699;
}
.swLoginForm td {
	color: #FFFFFF;
	font-size: 0.8em;
}

.swAssignedDomainList h3,
.swUnassignedDomainList h3 {
	font-size: 1em;
	color: #336699;
}
